<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Public landing page</title>
    <link id="favicon" rel="icon" href="//tf-assets-prod.s3.amazonaws.com/splash/logo/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header role="banner">
      <h1>Admin dashboard</h1>
    </header>

    <main role="main">
      <h2>Users</h2>
      <ul class="js-users-list">
        
      </ul>
    </main>
    
    
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/admin-dashboard.js"></script>


  </body>
</html>
